manifest {
  name = 'ViralClust'
  mainScript = 'viralclust.nf'
  author = 'Kevin Lamkiewicz'
}

// default parameters
params {
  max_cores = Runtime.runtime.availableProcessors()
  cores = '1'
  memory = '16.GB'
  help = false
  hdbscan_help = false
  profile = false

  // input
  fasta = ''
  lineageDict = ''
  goi = ''
  reference = '/home/assmanne/sc2_sewage/assets/NC_045512.2.fasta'

  // output
  output = 'viralclust_results'
  sort_output = '00-positive_sorted'
  nr_output = '01-non_redundant'
  hdbscan_output = '02-hdbscan'
  eval_output = '03-evaluation'
  summary_output = 'summary'

  // modules on/off
  remove_redundancy = true

  // parameters
  eval = false
  hdbscan_params = '-k 5 --metric cosine --dimension 2 --neighbors 15 --clusterThreshold 0.1'

  // location for databases
  permanentCacheDir = "${projectDir}/data"

  // location for storing the conda environments
  condaCacheDir = "${projectDir}/conda"

  // optional configurations
  workdir = "/tmp/nextflow-work-$USER"
  cloudDatabase = false
  cachedir = false
}

profiles {
  local {
    params.cloudProcess = false
    params.cloudDatabase = false
    includeConfig 'configs/local.config'
    permanentCacheDir = 'data'
  }

  conda {
    params.cloudProcess = false
    params.cloudDatabase = false
    conda.cacheDir = params.condaCacheDir
    includeConfig 'configs/conda.config'
  }

  // predefined combinations
  // local execution with conda
  standard {
    conda.enabled = true
    conda.createTimeout = '1h'
    conda.cacheDir = params.condaCacheDir
    permanentCacheDir = 'data'
    process.cache = 'lenient'
    includeConfig 'configs/local.config'
    includeConfig 'configs/conda.config'
  }

}
