workDir = params.workdir

process {
  withLabel: sortseq { conda = "$baseDir/envs/python3.yml" }
  withLabel: remove {conda = "$baseDir/envs/python3.yml"}
  withLabel: evalMerger { conda = "$baseDir/envs/python3.yml" }
  withLabel: revComp { conda = "$baseDir/envs/python3.yml" }
  withLabel: evaluate { conda = "$baseDir/envs/python3.yml" }
  withLabel: medaka { conda = "$baseDir/envs/medaka.yml" }
  withLabel: hdbscan {conda = "$baseDir/envs/hdbscan.yml"}
}
