workDir = params.workdir

executor {
  name = "local"
  cpus = params.max_cores
  memory = params.memory
}

process {
  withName: fastq_to_fasta {cpus = 1}
  withName: primer_sort {cpus = params.max_cores}
  withName: create_lineage_dict {cpus = 1}
  withName: primer_clipping {cpus = 6}
  withName: sort_sequences {cpus = 1}
  withName: remove_redundancy {cpus = 1}
  withName: primerset_to_amplicon {cpus = 1}
  withName: hdbscan {cpus = 10}
  withName: add_redundancy {cpus = 10}
  withName: call_variants {cpus = 6}
  withName: lineage_prediction  {cpus = 1}
  withName: amplicon_quant  {cpus = 1}
  withName: aggregate_abundances  {cpus = 1}
  withName: update_reference  {cpus = 1}
  withName: lineage_prediction_repeat  {cpus = 1}
  withName: amplicon_quant_repeat  {cpus = 1}
  withName: aggregate_abundances_repeat  {cpus = 1}
}